@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input[type=text] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

/* attachment resets style */
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_regular.woff2") format("woff2"), url("../fonts/proximanova_regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* attachment fonts */
/* Шаблон */
.button, .block__button {
  padding: 10px 20px;
  font-size: 20px;
  color: #ccc;
  background-color: #020202;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* --------- Default style -------------*/
[class*=__container] {
  max-width: 1320px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

[class*="--margin"] {
  margin: 25px 0 25px 0;
}

/* --------- Default style -------------*/
.header {
  width: 100%;
  border: 5px solid;
  border-color: #fff black black black;
  width: 100%;
  height: 50px;
  background-color: #ccc;
  border-color: rgb(230, 139, 139);
  margin: 0 auto;
}

.header__title {
  text-align: center;
  font-size: 34px;
  color: #020202;
}

/* body
    color:red */
/* body {
    color: red;
    font-size: 20px;
} */
.header.header__title {
  color: red;
}

/* Синтаксис SCSS */
.block {
  /* .block__container */
  /* .block__title */
  /* .block__items */
  /* .block__item */
}
.block__container {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.block__title, .block__sub-title {
  text-align: center;
  color: white;
  font-size: 24px;
}
.block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}
.block__item {
  padding: 25px;
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.block__item:hover {
  -webkit-transform: rotate3d(1, 1, 1, 35deg);
          transform: rotate3d(1, 1, 1, 35deg);
}
.block__button {
  border: 2px solid #fff;
}
.block__sub-title {
  padding: 20px;
}

/* .block {
	.page & {
		// ...
	}
	&--active {
		// ...
	}
	// .block__container
	&__container {
		&:hover {
		}
		span {
		}
	}
	// .block__title
	&__title {
		&::before {
		}
	}
	// .block__body
	&__body {
		@media (max-width: 850px) {
			//   ....
		}
	}
	// .block__image
	&__image {
		// .block__image--big
		&--big {
		}
	}
	// .block__content
	&__content {
		&:last-child {
			// ....
		}
	}
} */
/* Використання шаблону */
.block__spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 17px solid;
  border-radius: 50%;
  border-color: #fff black black black;
  -webkit-animation: rotare 1.5s linear infinite;
          animation: rotare 1.5s linear infinite;
  cursor: pointer;
}
@-webkit-keyframes rotare {
  to {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}
@keyframes rotare {
  to {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}

.block__spinner:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

/* @mixin box($width:500px, $height:500px, $bgColor:#ccc, $borderColor:#ccc black black black){
    width: $width;
    height: $height;
    background-color: $bgColor;
    border-color: $borderColor;
} */
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  gap: 20px;
  /* .list__item */
}
.list__item {
  padding: 15px;
  background-color: #050055;
  border: 2px solid #fff;
  cursor: pointer;
  color: white;
  text-align: center;
  visibility: hidden;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  -webkit-animation: show-items 1s ease-in forwards;
          animation: show-items 1s ease-in forwards;
}
.list:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.list:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.list:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.list:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.list:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.list:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes show-items {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

@keyframes show-items {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}/*# sourceMappingURL=styles.css.map */