@media (max-width: 1264px){
    .last{
        display: none;
    }
    
    .header-info__container{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }
}

@media (max-width: 1170px){
    .header__logo{
        width: 170px;
    }

    .catalog__img{
        display: none;
    }

    .header__container{
        justify-content: space-around;
    }

    .search{
        max-width: 35%;
    }

    .socials__desc{
        display: none;
    }

    .sub-header__container{
        gap: 10px;
    }
}

@media (max-width: 991.98px){
    .last{
        display: none;
    }

    .search{
        width: 20%;
    }
    .header__container{
        padding: 15px;

        justify-content: center;
    }

    .sub-header__container{
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .header__logo{
        position: absolute;
        top: 14px;
        left: 10%;
    }

    .hamburger{
        display: flex;
        background-color: transparent;
    }

    .sub-header__left{
        display: none;
    }

    .header__container{
        justify-content: center;
        justify-content: space-between;
    }

    .header-info__list{
        justify-content: center;
        row-gap: 15px;
    }

    .search{
        position: fixed;
        min-width: 100%;
        bottom: 0;
        right: 0;
        background-color: #fff;
        z-index: 100;
    }
}

@media (max-width: 670px) {
    .some-items__item{
        flex: 1 1 100%;
    }

    .header__logo{
        position: absolute;
        top: 14px;
        left: 15%;
    }

    .catalog{
        width: 100px;
    }
}

@media (max-width: 670px) {
    .socials{
        display: none;
    }

    .header__logo{
        position: absolute;
        top: 24px;
        left: 15%;
    }

    .logo{
        max-width: 80%;
    }
}

@media (max-width:425px){

    .header-info{
        display: none;
    }

    .header__logo{
        position: absolute;
        top: 24px;
        left: 20%;
    }

    .hamburger{
        left: 0;
    }

    .catalog{
       padding: 11px 10px 11px 10px;
    }

    
   .header__container{
    column-gap: 10px;
   }

   .right{
    gap: 10px;
   }

}

@media (max-width:321px) {
   .sub-header__right{
    display: none;
   }
   
   .sub-header{
    position: relative;
   }

   .header__call-back{
    position: absolute;
    right: 0;
    top: 10px;
   }
}

@media (any-hover: hover) {
    [class*="__links"]:hover{
        text-decoration: underline;
    }
}