@media (max-width: 670px) {
    .some-items__item{
        flex: 1 1 100%;
    }
}

@media (max-width: 1170px){
    .header-info__list, .header-info__list{
        column-gap: 20px !important;
    }
    
    .header__container{
        column-gap: 20px;
    }

    .header__logo{
        width: 170px;
    }
}

@media (max-width: 991.98px){
    .hamburger{
        display: flex;
        flex-shrink: 0;
    }

    .header__call-back{
        display: none;
    }

    .right{
        display: none;
    }

    .header-info{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffff;
        z-index: 2;
    }

    .header-info--margin{
        margin-top: 0;
    }
}


@media (any-hover: hover) {
    [class*="__links"]:hover{
        text-decoration: underline;
    }
}