@media (max-width: 670px) {
    .some-items__item{
        flex: 1 1 100%;
    }
}

@media (max-width: 1170px){
    .header__logo{
        width: 170px;
        margin: 0 auto;
    }
}


@media (any-hover: hover) {
    [class*="__links"]:hover{
        text-decoration: underline;
    }
}