/* resets style */
@import url(reset.css);

/* connect fonts*/
@import url(fonts.css);


/* connect media query*/
@import url(media.css);



* {
    font-family: "Proxima Nova", sans-serif;
    color: #535353;
}

.page {
    background-color: #F8F8F8;
    flex: auto;
}


.sub-title {
    font-size: 36px;
}

.wrapper{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    overflow: clip;
}

.wrapper > main{
    flex-grow: 1;
}



.flex {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    background-color: #797979;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
}

.flex__item:nth-child(odd) {
    background-color: rgb(0, 99, 220);;
}

.flex__item {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 132);
    transition: all .5s;
    border-radius: 50%;
    overflow: hidden;
    align-items: flex-end;
}

.flex--start {
    justify-content: flex-start;
}

.flex--end {
    justify-content: flex-end;
}

.flex--center {
    justify-content: center;
}

.flex--between {
    gap: 15px;
    justify-content: space-between;
}

.flex--around {
    justify-content: space-around;
}

.flex--evenly {
    justify-content: space-evenly;
}

.flex--construction {
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex--gap {
    display: flex;
    justify-content: inherit;
    gap: 125px;
    column-gap: 15px;
    flex-wrap: wrap;
}

.flex--self {
    justify-content: center;
    gap: 15px;
}

.flex__item:hover {
    transform: rotate3d(2, 2, 2, 45deg);
}

.flex__item {
    align-self: center;
    /*     flex-grow: 1;
    flex-basis: auto; */
}

.flex__item:nth-child(2) {
    flex-shrink: 1;
}

.main-title {
    font-size: 36px;
    color: white;
    text-align: center;
}

[class*="--margin"] {
    margin-bottom: 25px;
}


.flex-basis {
    width: 100%;
    background-color: #797979;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.flex-basis__item {
    height: 200px;
    background-color: purple;
    /*     border:2px solid black;
    border-radius: 50%; */
    flex-grow: 1;
    flex-basis: 150px;
    text-align: center;
    border-radius: 5px;
}

/* .flex-basis__item:nth-child(1){
    flex-basis: 10px;
} */


.flex-order {
    width: 100%;
    background-color: #797979;
    display: flex;
    gap: 15px;
}

.flex-order__item {
    width: 200px;
    background-color: rgb(255, 0, 132);
}

.flex-order__item:nth-child(1) {
    display: flex;
    justify-content: space-around;
}

.flex-order__sub-item {
    height: 20px;
    height: 20px;
    background-color: gainsboro;
    border-radius: 50%;

}

.flex-order__item:nth-child(4) {
    order: 1;
}

.flex-order__item:nth-child(2) {
    order: 4;
}

.flex-order__item:nth-child(3) {
    order: 2;
}


.flex-practice {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 -5px -10px -5px;
}

.flex-practice__item {
    padding: 0 5px 0 5px;
    margin: 10px 0 10px 0;
    flex-basis: 33.33%;
    flex-grow: 1;
    flex-basis: auto;
    background-color: #7a957b;
    flex-shrink: 1;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.sub-header {
    min-height: 60px;
    background-color: #F8F8F8;
}

.sub-header__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-between;
    padding: 15px;
}

.sub-header__right {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.sub-header__left {
    display: flex;
    flex-wrap: wrap;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials__desc {
    align-content: center;
}

.socials__item {
    align-self: center;
}

.phone__item{
    font-weight: 600;
}


.links {
    display: flex;
    flex-wrap: wrap;
    max-width: 565px;
    column-gap: 30px;
    row-gap: 10px;
}

.links__item {
    align-self: center;
    transition: all .6s;
}

.links__item:hover {
    color: #FFBC57;
}

.socials {
    display: flex;
}

.language {
    align-self: center;
}

.language__select:hover {
    color: #FFBC57;
}

.language__select {
    cursor: pointer;
    background-color: transparent;
}

.language__item{
    font-weight: 600;
}

.header {
    padding: 10px 0 5px 0;
    border-bottom: 2px solid #F8F8F8;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 25px 0 25px 0;
}

.header__left {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header__logo{
    display: flex;
    flex-shrink: 0;
    margin-right: 5px;
    overflow: hidden;
    justify-content: flex-end;
    
}

.logo{
    object-fit: contain;
    width: 250px;
}


.search {
    width: 421px;
    border: 1px solid lightgray;
    border-radius: 8px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.search__input {
    display: block;
    width: 100%;
    padding: 10px 0 10px 15px;
    flex-grow: 1;
}

.search__img {
    max-height: 24px;
    align-self: center;
    margin: 10px 15px 10px 0;
}

.header__call-back {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}


.header__call-back img:hover {
    transform: scale(1.2);
}

.first {
    display: flex;
    align-items: center;
    align-self: center;
    width: 50px;
    height: 50px;
    background-color: #F8F8F8;
    border-radius: 50%;
}

.first__icon{
    margin: 0 auto;
    width: 50%;
}

.last {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.last label {
    font-size: 13px;
}

#phone {
    color: #2b2929;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 10px;
    cursor: pointer;
}

.right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 5px;
}

.right__item {
    display: flex;
    flex-shrink: 0;
    
    width: 50px;
    height: 50px;
    justify-content: center;

    border-radius: 50%;
    border: 2px solid #f7a01f;
    transition: all 0.3s;
}

.right__item:hover{
    background-color: #f7a01f;
}

.right__icon{
    width: 50%;
}

.header-info {
    width: 100%;
    min-height: 24px;
}

.header-info__container {
    display: flex;
    justify-content: space-between;
}

.header-info__right {
    align-self: center;
}

.header-info__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 100%;
}

.header-info__item {
    display: flex;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s;
    gap: 10px;
}

.header-info__item:hover {
    color: #FFBC57;
    text-decoration: underline;
}


.header-info__img {
    align-self: center;
}

.header-info__link {
    font-weight: 600;
    align-self: center;
}


.header-info--margin {
    margin-top: 42px;
}



/* .header__call-back::before{
    content: "";
    position: absolute;
    left: -34px;
    width: 23px;
    height: 23px;
    background: url("../img/main-page-header/vector/call-back-phone.svg") center / 100% no-repeat;
} */

.header__icon {
    width: 23px;
}

.catalog {
    display: flex;
    justify-content: center;
    background-color: #FFBC57;
    width: 145px;
    border-radius: 10px;
    padding: 13px 0;
    gap: 10px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
}

.catalog:hover{
    background-color: #f7a01f;
}

.catalog:hover .catalog__img {
    transition: all .5s;
    transform: rotate(360deg);
}

.catalog__img {
    align-self: center;
}

.catalog__name {
    align-self: center;
    color: white;
}


.page__title {
    font-size: 40px;
    color: #2b2929;
}

.page__title--margin {
    margin-bottom: 60px;
}


.some-items{
    display: flex;
    flex-wrap: wrap;
    max-width: 1290px;
    margin: 0 auto;
    gap: 20px;
}

.some-items__item{
    flex: 1 1 200px;
    background-color: #7a957b;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.some-items__picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 260 / 220;
    object-position: top;
}

.hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    align-items: flex-end;
    height: 35px;
    cursor: pointer;
}

.hamburger__item{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ccc;
}

.hamburger__item--long{
    width: 40px;
} 





/* footer */

.footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #ccc;
}

.footer__title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    font-size: 36px;
    color: white;
    min-width: 100px;
    margin: 0 auto;
}

.footer__title:hover {
    text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #FFBC57,
        0 0 82px #FFBC57,
        0 0 92px #FFBC57,
        0 0 102px #FFBC57,
        0 0 151px #FFBC57;
}