@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* resets style */
@import url(reset.css);

.block {
    background-color: #77608d;
    padding: 20px;
    margin-bottom: 50px;
    border: 2px dashed white;
}


.block-1 {
    border: 3px dotted black;
    margin-top: 50px;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    /*верх / право / низ / ліво  */
    padding: 50px 0 50px 0;
    border-top: 5px dashed yellow;
    border-bottom: 5px dashed rgba(0, 82, 156, 1);
    ;
}

.container h1 {
    font-size: 48px;
}

div>h2 {
    font-size: 36px;
}

.inline {
    background-color: #7a956b;
    margin: 25px;
    font-size: 20px;
}

.inline-block {
    background-color: #794f45;
}

.box {
    height: 50px;
    width: 100%;
    background-color: lightgrey;
}

.box-second {
    height: 50px;
    width: 100%;
    margin-top: 50px;
    background-color: lightgrey;
}

.box-left {
    height: 100px;
    width: 100%;
    margin: 10px 0 0 50px;
    background-color: lightgrey;
    border-top: 2px dotted red;
}


.collaping-top {
    height: 250px;
    background-color: grey;
    margin: 25px 0 25px 0;
}


.collapsin-botton {
    height: 250px;
    background-color: grey;
    margin-top: 100px;
}

div>h4 {
    font-size: 25px;
    color: white;
}