/* import styles */
@import "components/reset.scss";
/* reset default */

@import "components/practice.scss";
@import "components/variables";
@import "mixins";
@import "components/_search";

/* Import foonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
	font-family: "Roboto", sans-serif;
}

[class*="__container"] {
	max-width: 82.5rem;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
	position: relative;
	background-color: $bgc-header;
}

.wrapper > main {
	flex-grow: 1;
}

.header {
	background-color: $bgc-header;
	/* .header__container */

	&__container {
	}

	/* .header__top */

	&__top {
		margin: 1.875rem 0 1.5625rem 0;
	}

	/* .header__bottom */

	&__bottom {
	}
}
.header--margin {
	margin-bottom: 5.0625rem;
}
.top {
	/* .top__container */

	&__container {
	}

	/* .top__overlay */

	&__overlay {
		display: flex;
		flex-wrap: wrap;
		column-gap: 21.6875rem;
		justify-content: space-between;
	}

	/* .top__action */

	&__action {
		display: flex;
		flex-wrap: wrap;
		column-gap: 1.375rem;
		align-items: center;
	}
}
.top--margin {
}

/* .search__btn */

.button-search {
	background: url("../img/hw/vector/search-icon.svg") center / 1.5625rem no-repeat;
	padding: 25px;
	cursor: pointer;
}

.show {
	display: block;
	transition: all 0.6s ease-in-out;
}
.logo {
	/* .logo__img */

	&__img {
	}
}
.action {
	font-size: 1.125rem;
	font-weight: 400;
	/* .action__icon */

	&__icon {
		width: 1.5625rem;
		object-fit: contain;
	}

	/* .action__name */
	&__name {
	}
	&__user {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 0.5rem;
	}
	&__cart {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 0.5rem;
	}
}
.divider {
	border-top: 3px solid $bgc-divider;
}
.divider--margin {
	margin-bottom: 1.875rem;
}
.bottom {
	/* .bottom__menu */

	&__menu {
	}
}
.menu {
	display: flex;
	column-gap: 3.5625rem;
	row-gap: 0.625rem;
	flex-wrap: wrap;
	@include fontStyleMenu;
	/* .menu__item */

	&__item {
	}

	/* .menu__link */

	&__link {
	}
}
.main {
}
.baners {
	/* .baners__container */

	&__container {
	}

	/* .baners__overlay */

	&__overlay {
		display: flex;
		justify-content: center;
		column-gap: 6.125rem;
		flex-wrap: wrap;
	}
}
.baners--margin {
	margin-bottom: 5.625rem;
}
.overlay {
	/* .overlay__content */

	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 4.125rem;
		justify-content: center;
	}

	/* .overlay__title */

	&__title {
		transition: all .4s ease-in-out;
		font-size: calc(4.625rem + 1 * (100vw / 1320));
	}

	/* .overlay__descr */

	&__descr {
		text-transform: capitalize;
		font-size: 1.875rem;
		font-size: calc(0.875rem + 0.875 * (100vw / 1320));
		line-height: 55px; /* 55px/100 */
		text-align: left;
		font-weight: 500;
	}

	/* .overlay__link */

	&__link {
		max-width: 13.9375rem;
		text-align: center;
		padding: 1.1875rem;
		background-color: $bgc-button;
		color: $color-for-btn;
		text-transform: capitalize;
		display: flex;
		justify-content: center;
		column-gap: 0.5rem;
	}

	/* .overlay__design */

	&__design {
	}
}
.link {
	/* .link__icon */

	&__icon {
		align-self: center;
	}

	/* .link__name */

	&__name {
		font-size: 1.8125rem;
		align-self: center;
	}
}
.design {
	/* .design__link */

	&__link {
		display: block;
		border: 0.1875rem solid $bgc-border-banner;
		border-radius: 37.73% 0 37.73% 0 / 29.46% 0 29.46% 0;
		position: relative;
	}
	&__img{
		aspect-ratio: 424 / 542;
		width: 100%;
		height: 100%;
		object-fit: contain;
		border-radius: 37.73% 0 37.73% 0 / 29.46% 0 29.46% 0;
		z-index: 1;
		transform: translate(-1.125rem, -1.25rem);
	}
}
.design__img::after{
	content: "";
	top: 0;
	left: 10px;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid black;
	z-index: 2;
	border-radius: 160px 0 160px 0;
}
.brands {
	/* .brands__container */

	&__container {
	}

	/* .brands__lists */

	&__lists {
		display: flex;
		column-gap: 4rem;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	/* .brands__item */

	&__item {
	}

	/* .brands__link */

	&__link {
	}

	&__img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.brands--margin {
	margin-bottom: 5.625rem;
}
.category {
	/* .category__container */

	&__container {
	}

	/* .category__text */

	&__text {
	}

	/* .category__list */

	&__list {
	}
}
.list {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(4, minmax(250px, 1fr));
	column-gap: 24px;
	/* .list__item */

	&__item {
	}

	/* .list__link */

	&__link {
	}

	/* .list__img */

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}


@media (max-width: 768px) {
	.overlay__title{
		font-size: calc(2.5625rem + (1 + 1 * 0.7) * ((100vw - 20rem) / 1320));
	}

	.overlay__descr{
		font-size: calc(0.875rem + (1 + 1 * 0.7) * ((100vw - 20rem) / 1320));
	}
}