/* import styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input[type=text] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

/* variables for fast swap colors)) */
.practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* .practice__hero */
}
.practice__hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
}

.hero {
  position: relative;
  z-index: 2;
  height: 100svh;
  /* .hero__container */
  /* .hero__title */
  /* .hero__text */
  /* .hero__descr */
}
.hero__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  position: relative;
  z-index: 2;
}
.hero__container > * {
  margin-bottom: 20px;
}
.hero__container *:last-child {
  margin-bottom: 0px;
}
.hero__title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}
.hero__text {
  line-height: 130%;
  display: inline-block;
  max-width: 500px;
  color: #fff;
}
.hero__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  /* .footer__container */
  /* .footer__sub */
}
.footer .footer {
  /* .footer__main */
}
.footer .footer__main--margin {
  margin-bottom: 90px;
}
.footer .main {
  /* .main__container */
  /* .main__company */
  /* .main__catalog */
  /* .main__catalog */
  /* .main__about */
}
.footer .main__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 0;
}
.footer .main__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 32px;
  -ms-flex-preferred-size: 392px;
      flex-basis: 392px;
  min-height: 207px;
}
.footer .main .catalog {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* .catalog__items */
  /* .catalog__item */
  /* .catalog__link */
}
.footer .main .catalog__title {
  margin-bottom: 22px;
}
.footer .main .catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.footer .main .catalog__item {
  text-transform: capitalize;
  padding: 5px;
}
.footer .main .about {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* .about__title */
  /* .about__items */
  /* .about__item */
}
.footer .main .about__title {
  margin-bottom: 22px;
}
.footer .main .about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.footer .main .about__item {
  text-transform: capitalize;
  padding: 5px;
}
.footer .main .customer {
  /* .customer__title */
  /* .customer__items */
  /* .customer__item */
  /* .customer__link */
}
.footer .main .customer__title {
  margin-bottom: 22px;
}
.footer .main .customer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.footer .main .customer__item {
  text-transform: capitalize;
  padding: 5px;
}
.footer .company {
  /* .company__img */
  /* .company__text */
  /* .company__desc */
  /* .company__items */
  /* .company__item */
}
.footer .company__img {
  width: 180px;
}
.footer .company__text {
  color: #1e2832;
  font-size: 16px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 2em;
}
.footer .company__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
}
.footer__sub {
  min-height: 52px;
  background-color: #1e2832;
}

.sub {
  /* .sub__conntainer */
  /* .sub__layout */
  /* .sub__date */
  /* .sub__pay */
  /* .sub__link */
}
.sub__box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 43px;
  height: 24px;
  overflow: hidden;
  background-color: #fff;
}
.sub__img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.sub__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub__date {
  color: #fff;
}
.sub__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.sub__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.link {
  /* .link__name */
  background-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
}
.link__name {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}
.link__img {
  height: 14px;
  width: 16px;
}

.main-goods {
  /* .main-goods__container */
  /* .main-goods__text */
  /* .main-goods__category */
  /* .main-goods__item */
}
.main-goods--margin {
  margin-bottom: 140px;
}
.main-goods__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 648px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-goods__text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: var(--Dark, #000);
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 20px;
}
.main-goods__category {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, minmax(250px, 1fr));
  gap: 24px;
}
.main-goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
.main-goods__title {
  position: absolute;
  padding: 4px 12px;
  background-color: #1E2832;
  color: white;
  top: 26px;
  text-transform: uppercase;
  z-index: 2;
}
.main-goods__img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .main-goods__category {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
  }
}
@media (min-width: 550px) {
  .main-goods__item:first-child {
    grid-row: span 2;
    grid-column: span 2;
  }
  .main-goods__item:only-child {
    grid-row: span 2;
    grid-column: span 4;
  }
}
@media (max-width: 550px) {
  .main-goods__text {
    display: none;
  }
}
/* @media(any-hover) {
    .main-goods__item:hover .main-goods__item::before{
        display: flex;
    }
} */
.special-goods {
  /* .special-goods__container */
  /* .special-goods__title */
  /* .special-goods__tabs */
  /* .special-goods__items */
  /* .special-goods__item */
  /* .special-goods__text */
  /* .special-goods__name */
  /* .special-goods__action */
  /* .special-goods__filter */
  /* .special-goods__price */
}
.special-goods__title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.special-goods__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.special-goods__items {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 24px;
}
.special-goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  height: 478px;
  width: 312px;
  position: relative;
}
.special-goods .item {
  /* .item__action */
}
.special-goods .item__action {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  bottom: 15%;
  left: 0;
  position: absolute;
  background-color: #1E2832;
  width: 100%;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.special-goods .action {
  /* .action__left */
  /* .action__right */
}
.special-goods .action__img {
  width: 20px;
  height: 20px;
}
.special-goods__name {
  padding-left: 10px;
  color: var(--Dark, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.special-goods__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.special-goods__filter {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.special-goods__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.special-goods .price {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.special-goods .old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.tabs {
  /* .tabs__items */
  /* .tabs__item */
  /* .tabs__filter */
}
.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 41px;
     -moz-column-gap: 41px;
          column-gap: 41px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabs__item {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  flood-color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  line-height: normal;
}
.filter {
  padding: 5px 15px;
  background-color: #1E2832;
  cursor: pointer;
  /* .filter__img */
  /* .filter__name */
}
.filter__img {
  width: 14px;
  height: 14px;
}
.filter__name {
  text-transform: capitalize;
  font-size: 16px;
  color: white;
}

.active {
  font-weight: 900;
}

@media (any-hover) {
  .tabs__item:hover {
    text-decoration: underline;
  }
  .special-goods__item:hover .item__action {
    opacity: 1;
  }
}
/* Import foonts */
body {
  font-family: "Roboto", sans-serif;
}

.title {
  text-align: center;
  font-size: 48px;
  color: blueviolet;
}

.video {
  margin: 0 auto;
  width: 400px;
}

[class*=__container] {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #f4f4f5;
  /* .header__container */
  /* .header__top */
  /* .header__search */
  /* .header__logo */
  /* .header__actions */
  /* .header__nav */
}
.header__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 2px 25px 0px;
}
.header__top--bordered {
  border-bottom: 2px solid #d6d6d6;
  margin-bottom: 30px;
}
.header__search {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__input {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  font-size: 16px;
  outline: none;
  background-color: #f4f4f5;
  border-top: 2px solid #ccc;
}
.header__img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header .show {
  display: block;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
.header__nav--margin {
  margin-bottom: 112px;
}

.actions {
  /* .actions_cart */
  /* .actions__user */
}
.actions__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actions__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actions__icon {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav {
  /* .nav__container */
  /* .nav__menu */
}
.menu {
  /* .menu__items */
  /* .menu__item */
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 58px;
     -moz-column-gap: 58px;
          column-gap: 58px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  font-size: 15px;
  cursor: pointer;
}

.slider {
  background-color: #f4f4f5;
  /* .slider__container */
  /* .slider__left */
  /* .slider__title */
  /* .slider__text */
  /* .slider__descr */
  /* .slider__link */
  /* .slider__icon */
  /* .slider__name */
  /* .slider__right */
}
.slider--margin {
  margin-bottom: 215px;
}
.slider__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 98px;
     -moz-column-gap: 98px;
          column-gap: 98px;
  padding-bottom: 80px;
}
.slider__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 66px;
}
.slider__title {
  color: #000;
  font-size: 74px;
  font-weight: 400;
  line-height: 55px;
}
.slider__descr {
  font-size: 30px;
  text-transform: capitalize;
  line-height: 55px;
  font-weight: 400;
  word-spacing: 0.2em;
}
.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 19px;
  background-color: #1e2832;
  max-width: 223px;
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
@-webkit-keyframes wiggle {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
@keyframes wiggle {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
.slider__icon {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-animation: wiggle 2s linear infinite;
          animation: wiggle 2s linear infinite;
}
.slider__name {
  font-size: 29px;
}
.slider__img {
  aspect-ratio: 424/542;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 112px 0 112px 0;
}

@media (any-hover) {
  .header__img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .actions__cart:hover .actions__icon {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .actions__user:hover .actions__icon {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    text-decoration: underline;
  }
  .actions__user:hover, .actions__cart:hover .actions__name {
    text-decoration: underline;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
  .slider__btn:hover {
    -webkit-box-shadow: 3px 3px 3px #1e2832;
            box-shadow: 3px 3px 3px #1e2832;
  }
  .slider__btn:hover .slider__icon {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
/* footer *//*# sourceMappingURL=style.css.map */