/* import styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input[type=text] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

/* variables for fast swap colors)) */
.practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* .practice__hero */
}
.practice__hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
}

.hero {
  position: relative;
  z-index: 2;
  height: 100svh;
  /* .hero__container */
  /* .hero__title */
  /* .hero__text */
  /* .hero__descr */
}
.hero__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  position: relative;
  z-index: 2;
}
.hero__container > * {
  margin-bottom: 20px;
}
.hero__container *:last-child {
  margin-bottom: 0px;
}
.hero__title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}
.hero__text {
  line-height: 130%;
  display: inline-block;
  max-width: 500px;
  color: #fff;
}
.hero__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=__title] {
  font-weight: 600;
}

.footer {
  /* .footer__container */
  /* .footer__sub */
}
.footer .footer {
  /* .footer__main */
}
.footer .footer__main--margin {
  margin-bottom: 90px;
}
.footer .main {
  /* .main__container */
  /* .main__company */
  /* .main__catalog */
  /* .main__catalog */
  /* .main__about */
}
.footer .main__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 0;
}
.footer .main__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 32px;
  -ms-flex-preferred-size: 392px;
      flex-basis: 392px;
  min-height: 207px;
}
.footer .main .catalog {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* .catalog__items */
  /* .catalog__item */
  /* .catalog__link */
}
.footer .main .catalog__title {
  margin-bottom: 22px;
}
.footer .main .catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.footer .main .catalog__item {
  text-transform: capitalize;
  padding: 5px;
}
.footer .main .catalog__link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer .main .catalog__link:hover {
  text-decoration: underline;
}
.footer .main .about {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* .about__title */
  /* .about__items */
  /* .about__item */
}
.footer .main .about__title {
  margin-bottom: 22px;
}
.footer .main .about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.footer .main .about__item {
  text-transform: capitalize;
  padding: 5px;
}
.footer .main .about__item a:hover {
  text-decoration: underline;
}
.footer .main .customer {
  /* .customer__title */
  /* .customer__items */
  /* .customer__item */
  /* .customer__link */
}
.footer .main .customer__title {
  margin-bottom: 22px;
}
.footer .main .customer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.footer .main .customer__item {
  text-transform: capitalize;
  padding: 5px;
}
.footer .main .customer__link:hover {
  text-decoration: underline;
}
.footer .company {
  /* .company__img */
  /* .company__text */
  /* .company__desc */
  /* .company__items */
  /* .company__item */
}
.footer .company__link {
  display: block;
  max-width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .company__text {
  color: #1e2832;
  font-size: 16px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 2em;
}
.footer .company__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
}
.footer .company__item {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 4px solid transparent;
}
.footer__sub {
  min-height: 52px;
  background-color: #1e2832;
}

.sub {
  /* .sub__conntainer */
  /* .sub__layout */
  /* .sub__date */
  /* .sub__pay */
  /* .sub__link */
}
.sub__box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 43px;
  height: 24px;
  overflow: hidden;
  background-color: #fff;
}
.sub__img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.sub__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub__date {
  color: #fff;
}
.sub__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.sub__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.link {
  /* .link__name */
  background-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
}
.link__name {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}
.link__img {
  height: 14px;
  width: 16px;
}

@media (any-hover) {
  .company__item:hover {
    border-color: #ff9389;
  }
}
@media (max-width: 992px) {
  .company__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 25px;
  }
  .company__link {
    margin: 0 auto;
  }
  .footer__main--margin {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 500px) {
  .sub__pay {
    display: none;
  }
  .sub__date {
    font-size: 11px;
  }
  .link__name {
    font-size: 11px;
  }
}
.main-goods {
  /* .main-goods__container */
  /* .main-goods__text */
  /* .main-goods__category */
  /* .main-goods__item */
}
.main-goods--margin {
  margin-bottom: 140px;
}
.main-goods__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 648px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-goods__text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: var(--Dark, #000);
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 20px;
}
.main-goods__category {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, minmax(250px, 1fr));
  gap: 24px;
}
.main-goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
.main-goods__title {
  position: absolute;
  padding: 4px 12px;
  background-color: #1e2832;
  color: white;
  top: 26px;
  text-transform: uppercase;
  z-index: 2;
}
.main-goods__img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .main-goods__category {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
  }
}
@media (max-width: 992px) {
  .main-goods--margin {
    margin-bottom: 20px;
  }
}
@media (min-width: 550px) {
  .main-goods__item:first-child {
    grid-row: span 2;
    grid-column: span 2;
  }
  .main-goods__item:only-child {
    grid-row: span 2;
    grid-column: span 4;
  }
}
@media (max-width: 550px) {
  .main-goods__text {
    display: none;
  }
}
/* @media(any-hover) {
    .main-goods__item:hover .main-goods__item::before{
        display: flex;
    }
} */
.special-goods {
  /* .special-goods__container */
  /* .special-goods__title */
  /* .special-goods__tabs */
  /* .special-goods__items */
  /* .special-goods__item */
  /* .special-goods__text */
  /* .special-goods__name */
  /* .special-goods__action */
  /* .special-goods__filter */
  /* .special-goods__price */
}
.special-goods--margin {
  margin-bottom: 52px;
}
.special-goods__title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.special-goods__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.special-goods__items {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 24px;
  cursor: pointer;
}
.special-goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  position: relative;
}
.special-goods .item {
  /* .item__action */
}
.special-goods .item__img {
  width: 100%;
}
.special-goods .item__action {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  left: 0;
  top: 75%;
  position: absolute;
  background-color: #1e2832;
  width: 100%;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.special-goods .action {
  /* .action__left */
  /* .action__right */
}
.special-goods .action__img {
  width: 20px;
  height: 20px;
}
.special-goods .special-goods {
  /* .special-goods__label */
}
.special-goods .label {
  position: absolute;
  top: 22px;
  /* .label__item--hot */
  /* .label__item--special */
  /* .label__item--sale */
}
.special-goods .label__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.special-goods .label__item {
  text-transform: capitalize;
  min-width: 52px;
  height: 24px;
  padding: 4px 12px;
  color: white;
}
.special-goods .label__item--hot {
  background-color: #ff6f61;
}
.special-goods .label__item--special {
  background-color: #61b25c;
}
.special-goods .label__item--sale {
  background-color: #1e2832;
}
.special-goods__name {
  padding-left: 10px;
  color: var(--Dark, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.special-goods__name:hover {
  text-decoration: underline;
}
.special-goods__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.special-goods__filter {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.special-goods__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.special-goods .price {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.special-goods .old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.tabs {
  /* .tabs__items */
  /* .tabs__item */
  /* .tabs__filter */
}
.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 41px;
     -moz-column-gap: 41px;
          column-gap: 41px;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  flood-color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  line-height: normal;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tabs__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.filter {
  padding: 5px 15px;
  background-color: #1e2832;
  cursor: pointer;
  /* .filter__img */
  /* .filter__name */
}
.filter__img {
  width: 14px;
  height: 14px;
}
.filter__name {
  text-transform: capitalize;
  font-size: 16px;
  color: white;
}

.active {
  font-weight: 900;
}

@media (any-hover) {
  .tabs__item:hover {
    text-decoration: underline;
  }
  .special-goods__item:hover .item__action {
    opacity: 1;
  }
}
@media (max-width: 1400px) {
  .special-goods__items {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .special-goods__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .tabs__items {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .tabs__item {
    font-size: 11px;
  }
  .special-goods__tabs {
    margin-bottom: 20px;
  }
}
.collections {
  width: 100%;
  min-height: 776px;
  background: url("../img/hw/raster/bg-zara.webp") top/100% no-repeat;
  -o-object-position: center;
     object-position: center;
  background-size: cover;
  position: relative;
  /* .collections__container */
  /* .collections__items */
  /* .collections__descr */
  /* .collections__name */
  /* .collections__sub-title */
}
.collections--margin {
  margin-bottom: 159px;
}
.collections__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 225px;
     -moz-column-gap: 225px;
          column-gap: 225px;
  padding-top: 112px;
}
.collections__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 55px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.collections__descr::after {
  content: "";
  width: 732px;
  height: 309px;
  position: absolute;
  background: url("../img/hw/raster/zara-logo-big.png") center/100% no-repeat;
  top: 51px;
  right: 0;
}
.collections__sub-title {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-transform: capitalize;
  color: #fff;
}
.collections__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 237px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #1e2832;
  background-color: #fff;
  padding: 19px 26px;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

@media (max-width: 1199px) {
  .collections__items {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 992px) {
  .collections__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .collections__descr {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .collections__link {
    margin: 0 auto;
  }
  .collections--margin {
    margin-bottom: 20px;
  }
  .left__img {
    width: 100%;
    z-index: 2;
  }
  .collections__descr::after {
    top: 0;
    right: 0;
    max-width: 100%;
    z-index: 1;
  }
}
@media (max-width: 492px) {
  .collections__link {
    font-size: 20px;
  }
  .collections__sub-title {
    font-size: 20px;
  }
}
.best-seller {
  /* .best-seller__title */
  /* .best-seller__tabs */
  /* .best-seller__lists */
  /* .best-seller__show */
}
.best-seller__title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.best-seller__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.best-seller__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 373px;
}
.best-seller__show {
  padding: 5px 15px;
  background-color: #1e2832;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
}

.lists {
  /* .lists__item */
}
.lists__item {
  cursor: pointer;
  color: var(--Dark-50, rgba(0, 0, 0, 0.5));
  text-transform: capitalize;
}

/* .container--hidden{
    overflow: hidden;
} */
.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 312px !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(0.75rem, 0.6061rem + 0.6141vw, 1.125rem);
  position: relative;
  overflow: hidden;
  /* .goods__img */
  /* .goods__text */
  /* .goods__name */
  /* .goods__action */
  /* .goods__filter */
  /* .goods__price */
  /* .goods__label */
}
.goods__text {
  text-align: center;
  font-weight: 600;
}
.goods__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price {
  text-decoration: line-through;
  color: #888888;
}

.old {
  /* .old_price */
}
.old_price {
  color: #ff9389;
}

.label {
  /* .label__items */
  /* .label__item */
  /* .label__item--hot */
  /* .label__item--special */
  /* .label__item--sale */
}
.label__items {
  top: 22px;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.label__item {
  padding: 5px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.label__item--hot {
  background-color: #ff6f61;
}
.label__item--special {
  background-color: blueviolet;
}
.label__item--sale {
  background-color: #1e2832;
}

.best-seller--margin {
  margin-bottom: 140px;
}

/* slider */
.swiper {
  width: 100%;
  height: 100%;
}

[class*="--mod"] {
  color: #ccc !important;
}

@media (max-width: 500px) {
  .goods__text,
  .goods__action {
    text-align: center;
    width: 80%;
  }
  .best-seller__tabs {
    display: none;
  }
  .best-seller--margin {
    margin-bottom: 20px;
  }
}
.call-back {
  min-height: 538px;
  background-color: #f4f4f5;
  /* .call-back__container */
  /* .call-back__title */
  /* .call-back__instagram */
  /* .call-back__form */
  /* .call-back__emal */
  /* .call-back__btn */
}
.call-back--padding {
  padding: 10px 10px;
}
.call-back--margin {
  margin-bottom: 108px;
}
.call-back__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.call-back__title {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 87px;
}
.call-back__instagram {
  margin-bottom: 75px;
}
.call-back__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
}
.call-back__emal {
  width: 586px;
  background-color: #f4f4f5;
  border-bottom: 2px solid #000;
  outline: none;
}
.call-back__btn {
  padding: 10px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid #000;
  cursor: pointer;
  color: #1e2832;
}

.instagram {
  width: 100%;
  /* .instagram__items */
  /* .instagram__item */
  /*     &__item img{
      object-fit: cover;
      width: 100%;
  } */
}
.instagram__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  overflow-x: auto;
  margin: 0 auto;
}
.instagram__item {
  position: relative;
  width: 100%;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (any-hover) {
  .instagram__item:hover {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}
@media (max-width: 992px) {
  .call-back--margin {
    margin-bottom: 20px;
  }
  .call-back__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .call-back__instagram {
    margin-bottom: 5px;
  }
  .call-back {
    min-height: 420px;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9389;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e1306c;
}

/* placeholder */
input :placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

/* Import foonts */
body {
  font-family: "Roboto", sans-serif;
}

.title {
  text-align: center;
  font-size: 48px;
  color: blueviolet;
}

.video {
  margin: 0 auto;
  width: 400px;
}

[class*=__container] {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #f4f4f5;
  /* .header__container */
  /* .header__top */
  /* .header__search */
  /* .header__logo */
  /* .header__actions */
  /* .header__nav */
}
.header__burger {
  position: relative;
}
.header .burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  cursor: pointer;
  /* .burger__item */
}
.header .burger__item {
  width: 100%;
  height: 2px;
  background-color: #000;
}
.header .burger::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #000;
}
.header .burger::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #000;
}
.header .active.burger::after {
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
  position: absolute;
}
.header .active.burger::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
  position: absolute;
}
.header .active .burger__item {
  opacity: 0;
}
.header__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 2px 25px 0px;
}
.header__top--bordered {
  border-bottom: 2px solid #d6d6d6;
  margin-bottom: 30px;
}
.header__search {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__input {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  font-size: 16px;
  outline: none;
  background-color: #f4f4f5;
  border-top: 2px solid #ccc;
}
.header__img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header .show {
  display: block;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
.header__nav--margin {
  margin-bottom: 112px;
}

.actions {
  /* .actions_cart */
  /* .actions__user */
}
.actions__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actions__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actions__icon {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav {
  /* .nav__container */
  /* .nav__menu */
}
.menu {
  /* .menu__items */
  /* .menu__item */
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 58px;
     -moz-column-gap: 58px;
          column-gap: 58px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  font-size: 15px;
  cursor: pointer;
}

.slider {
  background-color: #f4f4f5;
  /* .slider__container */
  /* .slider__left */
  /* .slider__title */
  /* .slider__text */
  /* .slider__descr */
  /* .slider__link */
  /* .slider__icon */
  /* .slider__name */
  /* .slider__right */
}
.slider--margin {
  margin-bottom: 215px;
}
.slider__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 98px;
     -moz-column-gap: 98px;
          column-gap: 98px;
  padding-bottom: 80px;
}
.slider__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 66px;
}
.slider__title {
  color: #000;
  font-size: 74px;
  font-weight: 400;
  line-height: 55px;
}
.slider__descr {
  font-size: 30px;
  text-transform: capitalize;
  line-height: 55px;
  font-weight: 400;
  word-spacing: 0.2em;
}
.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 19px;
  background-color: #1e2832;
  max-width: 223px;
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
@-webkit-keyframes wiggle {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
@keyframes wiggle {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
.slider__icon {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-animation: wiggle 2s linear infinite;
          animation: wiggle 2s linear infinite;
}
.slider__name {
  font-size: 29px;
}
.slider__img {
  aspect-ratio: 424/542;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 112px 0 112px 0;
}

@media (any-hover) {
  .header__img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .actions__cart:hover .actions__icon {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .actions__user:hover .actions__icon {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    text-decoration: underline;
  }
  .actions__user:hover,
  .actions__cart:hover .actions__name {
    text-decoration: underline;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
  .slider__btn:hover {
    -webkit-box-shadow: 3px 3px 3px #1e2832;
            box-shadow: 3px 3px 3px #1e2832;
  }
  .slider__btn:hover .slider__icon {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@media (max-width: 992px) {
  .slider__layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
    padding-bottom: 20px;
  }
  .slider__title {
    font-size: 30px;
  }
  .slider__descr {
    line-height: 20px;
    font-size: 18px;
  }
  .slider__left {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
  }
  .slider--margin {
    margin-bottom: 20px;
  }
  .slider__img {
    width: 100%;
  }
  .slider__name {
    margin: 0 auto;
    font-size: 17px;
    text-align: center;
  }
  .burger {
    min-width: 30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 999;
    padding-top: 6px;
  }
  .actions__name {
    display: none;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    row-gap: 15px;
    z-index: 99;
    background-color: #f4f4f5;
    top: 0;
    left: -100%;
  }
  .show {
    left: 0;
  }
  .no-scroll {
    overflow: hidden;
  }
  .menu__items {
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    font-size: 30px;
  }
  .menu__items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header__nav--margin {
    margin-bottom: 20px;
  }
  [class*=__container] {
    padding-left: 10px;
    padding-right: 10px;
  }
}/*# sourceMappingURL=style.css.map */