/* resets style */
@import url(reset.css);
@import url(animations.css);

/* connect fonts*/
@import url(fonts.css);

* {
    font-family: "Proxima Nova";
}


.sub-title{
    font-size: 36px;

}

.flex{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    background-color: #797979;
    padding: 15px;
    flex-wrap: wrap;
    gap:15px;
}

.flex__item:nth-child(odd){
    background-color: rgb(0, 99, 220);;
}

.flex__item{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 132);
    transition: all .5s;
    border-radius: 50%;
    overflow: hidden;
    align-items: flex-end;
}
    
.flex--start{
    justify-content: flex-start;
}

.flex--end{
    justify-content: flex-end;
}

.flex--center{
    justify-content: center;
}

.flex--between{
    justify-content: space-between;
}

.flex--around{
    justify-content: space-around;
}

.flex--evenly{
    justify-content: space-evenly;
}

.flex--construction{
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex--gap{
    display: flex;
    justify-content: inherit;
    gap: 125px;
    column-gap: 15px;
    flex-wrap: wrap;
}

.flex--self{
    justify-content: center;
    gap: 15px;
}

.flex__item:hover{
    transform: rotate3d(2,2,2, 45deg);
}

.flex__item{
    align-self: center;
/*     flex-grow: 1;
    flex-basis: auto; */
}

.flex__item:nth-child(2){
    flex-shrink: 1;
}

.main-title{
    font-size: 36px;
    color: white;
    text-align: center;
}

[class*="--margin"]{
    margin-bottom: 25px;
}


.flex-basis{
    width: 100%;
    background-color: #797979;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.flex-basis__item{
    height: 200px;
    background-color: purple;
/*     border:2px solid black;
    border-radius: 50%; */
    flex-grow: 1;
    flex-basis: 150px;
    text-align: center;
    border-radius: 5px;
}

/* .flex-basis__item:nth-child(1){
    flex-basis: 10px;
} */


.flex-order{
    width: 100%;
    background-color:#797979;
    display: flex;
    gap: 15px;
} 

.flex-order__item{
    width: 200px;
    background-color: rgb(255, 0, 132);
} 

.flex-order__item:nth-child(1){
    display: flex;
    justify-content: space-around;
}

.flex__sub-item{
    height: 20px;
    height: 20px;
    background-color: gainsboro;
    border-radius: 50%;

}
.flex-order__item:nth-child(4){
    order: 1;
}

.flex-order__item:nth-child(2){
    order: 4;
}

.flex-order__item:nth-child(3){
    order: 2;
}


.flex-practice{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 -5px -10px -5px;
} 

.flex-practice__item{
    padding: 0 5px 0 5px;
    margin: 10px 0 10px 0;
    flex-basis: 33.33%;
    flex-grow: 1;
    flex-basis: auto;
    background-color: #7a957b;
    flex-shrink: 1;
}

.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: clip;
}

main{
    flex-grow: 1;
}

.sub-header{
    min-height: 60px;
    background-color: #F8F8F8;
}

.sub-header__container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.sub-header__right{
    display: flex;
    gap: 32px;
}

.sub-header__left{
    display: flex;
}

.socials{
    display: flex;
    gap: 10px;
}

.socials__desc{
    align-content: center;
}

.socials__item{
    align-self: center;
}


.links{
    display: flex;
    max-width: 565px;
    gap: 30px;
}

.links__item{
    align-self: center;
    transition: all .2s;
}

.links__item:hover{
    color: #FFBC57;
}

.socials{
    display: flex;
} 

.language{
    align-self: center;
}

.language__select:hover{
    color: #FFBC57;
}

.language__select{
    background-color: transparent;
    cursor: pointer;
}

.header{
    padding: 10px 0 5px 0;
}
.header__container{
    display: flex;
    justify-content: space-between;
}

.header__left{
    display: flex;
    gap: 30px;
}

.search{
    width: 421px;
    border: 1px solid lightgray;
    border-radius: 8px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.search__input{
    display: block;
    width: 100%;
    padding: 10px 0 10px 15px;
}

.search__img{
    max-height: 24px;
    align-self: center;
    margin: 10px 15px 10px 0;
}

.header__call-back{
    display: flex;
    gap: 23px;
}
.first{
    align-self: center;
}

.last{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right{
    display: flex;
    gap:20px
} 

.right__box{
    align-self: center;
    width: 50px;
    height: 50px;
    border: 2px solid #FFBC57;
    border-radius: 50%;
}

.right__item{
    border: 2px solid #FFBC57;
    position: relative;
    align-self: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.right__icon{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}
.header-info{
    width: 100%;
    height: 24px;
}

.header-info__container{
    display: flex;
    justify-content: space-between;
}

.header-info__right{
    align-self: center;
}

.header-info__list{
    display: flex;
    gap: 40px;
}

.header-info__item{
    display: flex;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s;
    gap: 10px;
}

.header-info__item:hover{
    color: #FFBC57;
}
 

.header-info__img{
    align-self: center;
}

.header-info__link{
    align-self: center;} 


.header-info--margin{
    margin-top: 42px;
}



/* .header__call-back::before{
    content: "";
    position: absolute;
    left: -34px;
    width: 23px;
    height: 23px;
    background: url("../img/main-page-header/vector/call-back-phone.svg") center / 100% no-repeat;
} */

.header__icon{
    width: 23px;
}

.catalog{
    display: flex;
    justify-content: center;
    background-color: #FFBC57;
    width: 145px;
    border-radius: 10px;
    padding: 13px 0;
    gap: 10px;
    cursor: pointer;
} 

.catalog:hover .catalog__img{
    transition: all .5s;
    transform: rotate(360deg);
}

.catalog__img{
    align-self: center;
} 

.catalog__name{
    align-self: center;
    color: white;
} 


.page__title{
    font-size: 40px;
    color: #2b2929;
}

.page__title--margin{
    margin-bottom: 60px;
}


.populars-category{
    display: flex;
    column-gap: 10px;
    row-gap: 24px;
    flex-wrap: wrap;
}

.populars-category__item{
    flex-basis:250px;
    height: 300px;
    flex-shrink: 0;
    box-shadow: 1px 1px 8px 3px #f2eded;
    overflow: clip;
    flex-grow: 1;
    transition: all 0.3s;
    position: relative;
    border-radius: 8px;
} 

.populars-category__item:hover .populars-category__desc{
    color: #FFBC57;
}

.populars-category__item:hover::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background:url("../img/main-page-content/arrow.svg") center / 50px no-repeat;
     bottom: 0;
     right: 0;
}

.populars-category__head{
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;

}

.populars-category__desc{
    font-weight: 700;
}

.populars-category__qunt{
    color: #B1B1B1;
}

.populars-category__img{
    width: 100%;
}



/* popular goods block */
.popular-goods--margin{
    margin-top: 70px;
}

.popular-goods__wrapper{
    gap: 45px;
}

.popular-goods__title{
    display:  flex;
    gap: 30px;
    margin-bottom: 40px;
}

.popular-goods__link{
    align-self: center;
    position: relative;
    color: #FFBC57;
    cursor: pointer;
}
.popular-goods__link:hover{
    text-decoration: underline;
}

.popular-goods__link::after{
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/main-page-header/vector/arrow.svg");
    position: absolute;
    right:-20px;
    top: -5px;
}


.popular-goods__item{
    width: 250px;
    display: flex;
    flex-direction: column;
}
.popular-goods__cart{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFBC57;
    text-align: center;
}

.popular-goods__properties{
    font-weight: 700;
    margin-top: 20px;
    font-style: italic;
    color: #535353;
}

.popular-goods__name{
    margin-top: 10px;
    font-weight: 700;
}

.popular-goods__check{
    margin-top: 10px;
}

.popular-goods__wrapper{
    margin-top: 20px;
}


.old-price{
    color: #E03D3D;
    text-decoration: line-through;
    vertical-align: top;
}

.popular-goods__favorite{
    width: 50px;
    height: 50px;
    background-color: #797979;
    text-align: center;
    border-radius: 50%;
}

.popular-goods__bakket{
    gap: 10px;
}

.popular-goods__wrapper{
    display: flex;
}
/* footer */