/* resets style */
@import url(reset.css);
@import url(animations.css);

/* connect fonts*/

body {
    background-color: #333;
}

[class*="--margin"] {
    margin: 20px auto;
}

.page{
    overflow: hidden;
}

code {
    color: white;
    font-size: 17px;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

.header {
    min-height: 200px;
}

.header__title {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-top: 15px;
}


.pendulum{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-top: 5px solid #fff;
    position: relative;
}

.pendulum:hover .pendulum__item{
    animation-play-state: paused;
}

.pendulum__item{
    width: 33.333%;
    height: 100%;
    position: absolute;
    top: -2px;
    transform-origin: top;
}

.pendulum__item:nth-child(1){
    left: 0;
    animation: fly-left 1s infinite ease-in alternate;
/*     animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 5;
    animation-delay: 2; */
}

.pendulum__item:nth-child(2){
    left: 33.333%;
}

.pendulum__item:nth-child(3){
    right: 0;
    animation: right-left 1s infinite ease-out alternate;
    /* animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 5; */
}

.pendulum__item::before{
    content: "";
    width: 5px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 50%;
    position: absolute;
    border-radius: 20%;
}

.pendulum__item::after{
    content: "";
    width: 100px;
    height: 100px;
    background-color: #7a956b;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}



/* .block-3d__item:hover {
    /* transform: translate(30px,30px); */
/* transform: scale(0.5, 0.3); */
/* transform: rotate(-45deg); */
/* transform: skew(30deg) rotate(-45deg); */
/* transform: rotateX(45deg); */
/* transform-origin: 10px 50px; */
/* transform: scale3d(2,2,1); */
/* transform: scale3d(2,2,1) rotate3d(30, 20, 50, 50deg); */
/* transform: rotateX(50deg); */
/* content-visibility: visible;
    transform: rotateY(180deg); */
*/ .car {
    width: 100%;
    height: 300px;
    position: relative;
}
.main-title {
    font-size: 30px;
    color: #fff;
}

.main-title--margin {
    text-align: center;
}

.canvas{
    background: url("../img/vector/forest.svg") center 10% repeat;
    height: 700px;
    position: relative;
    margin: 50px auto;
}

.bird{
    position: relative;
    z-index: 999;
    height: 50px;
    width: 50px;
    background: url("../img/vector/mosquito.svg") 0 0 / 50px no-repeat;
    offset-path: path("M353.5 2.5L0.5 328.5V728.5L243 1028.5L500.5 728.5L353.5 481.5L543 386.5L711 660L816.5 297L979.5 2.5L1053 960L1285 2.5L1453 913L1595.5 2.5L1711 913L2858.5 2.5H3000.5");
    animation: owl-move 15s ease-in-out 1 forwards;
}

.canvas::after{
    content: "";
    width: 200px;
    height: 200px;
    background: url("../img/vector/moon.svg") 0 0 / 100px no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    animation: emergence 2s 1 ease-in;
    animation-fill-mode: forwards;
}

.car__body {
    position: absolute;
    margin: 0 auto;
    transform: translate(-100%);
    animation-name: drive;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    bottom: 90px;
    left: 0;
}

.car__top {
    height: 0;
    width: 400px;
    border-bottom: 100px solid #000;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    box-shadow: -1em 0 .5m lightgray;
}

.car__window {
    position: absolute;
    top: 20px;
    right: 29%;
    display: inline-block;
    height: 0;
    width: 65%;
    border-bottom: 100px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid black;
    background-color: #fff;

}

.car__middle {
    position: relative;
    height: 90px;
    width: 500px;
    border-radius: 0 20% 0 0;
    background-color: #000;
}

.car__light {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 25%;
    right: 0;
}

.car__light::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 15px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* border-right: 400px solid rgb(244,253,29); */
    border-bottom: 50px solid transparent;
    animation: switchOn 4s ease-in-out 1 normal 2s forwards;
}

.car__bottom {
    width: 500px;
    height: 50px;
    background-color: orange;
    border-radius: 50px;
}

.car__circle {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 7px dashed lightgray;
    border-radius: 50%;
    background-color: #000;
    margin-left: 20%;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
}

.car__reserve {
    width: 50px;
    height: 70px;
    background-color: #000;
    border: 7px dashed lightgray;
    position: absolute;
    top: 0;
    left: -10%;
    border-radius: 15px;
}

.way {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 70px;
    background-color: black;
    transform: rotate3d(55deg);
}

.way::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
}

/* .car:hover .car__light::after {
    display: block;
} */


/* class work */
/* transition-timing-function */

.work{
    width: 100%;
    padding: 0;
    text-align: center;
}

.work__item{
    width:22.222%;
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.block {
    background-color: #7a956b;
    width: 200px;
    height: 200px;
    transition-duration: .5s, .5s;
    /* transition-property: background-color, width; */
    /* transition-delay: 1s; */
    transition-timing-function: cubic-bezier(1.66, -1.29, 1.155, 1.39);
}

.block:hover {
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url("../img/vector/check-mark-svgrepo-com.svg") center / 100px no-repeat;
    transform: rotate(360deg);
}

.second-block{
    width: 300px;
    height: 300px;
    transform:
    perspective(750px)
    translate3d(0px, 0px, -250px)
    rotateX(27deg)
    scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    background-color: fuchsia;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.second-block:hover{
    transform: translate3d(0px, 0px, -250px);
}


.last-block{
    width: 300px;
    height: 300px;
    background-color: purple;
    transition: linear .5s;
    transition:
    height 0.2s,
    width 0.5s linear 0.2s,
    background-color 1s ease-in-out 0.5s;
}

.last-block:hover{
    background-color: pink;
    width: 100px;
}

.some-image{
    display: inline-block;
    position: relative;
    transition: all 0.7s;
} 



.some-image::before{
    content: "";
    border-radius: 15%;
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 1;
    transition: opacity .8s;
    z-index: 2;
}

.some-image:hover::before{
    opacity: 0;
}

.some-image__item{
    width: 250px;
    perspective: 500px;
    transition: ease .5s;
}

.some-image:hover .some-image__item{
    transform:scale(1.5, 1.5);
}

.wrap{
    display: inline-block;
    overflow: hidden;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #77608d;
    border: 4px dashed black;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: move, rotate;
}

.circle:hover{
    animation-play-state:paused;
}

/* @keyframes rotate {
    0%{
        rotate: 0deg;
        background-color: #77608d;
    }
    25%{
        background-color: peru;
    }

    50%{
        background-color: red;
    }

    100%{
        rotate: 360deg;
        background-color: #77608d;
    }
} */

@keyframes move {
    0%{
        translate: 0px 0px;
    }
    50%{
        translate: 25px 0px;
    }
    100%{
        translate: 225px 0px;
    }
}




.list {
    font-size: 48px;
    color: white;
}


.list:hover .list__item{
    transform: translate(0px);
}

.list__item:nth-child(1){
    transition-delay: 0s;
}

.list__item:nth-child(2){
    transition-delay: .2s;
}

.list__item:nth-child(3){
    transition-delay: .4s;
}

.list__item:nth-child(4){
    transition-delay: .6s;
}

.list__item:nth-child(5){
    transition-delay: .8s;
}


.list__item {
    color: white;
    transform: translate(-100%);
    transition-duration: .5s;
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
}

.list__item:not(:last-child){
    padding-bottom: 15px;
}






/* footer */