/* /* resets style */
@import url(reset.css);

/* connect fonts*/
@import url(fonts.css);


body {}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    overflow: clip;
}

.wrapper>main {
    flex-grow: 1;
}

/* --------- Simple style -------------*/

/* [class*="__container"] {
    max-width: 1320px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
} */

/* FLEX BASIS */

.practic {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.flex__item {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    flex-basis: 150px;
    padding: 15px;
    border-radius: 8px;
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    transition: all .3s ease-in;
}

.flex__item:hover {
    transform: scale(1.05);
}

/* GRID PRACTIC */
.grid {
    display: grid;
    height: 300px;
    gap: 20px;
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: end; */
    grid-template-columns: 1fr 1fr 1fr;
}

.grid__item {
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    background-color: #ccc;
    border: 2px solid #fff;
}

.grid__item:hover {
    transform: scale(1.05);
}

.grid__item:nth-child(1) {
    background-color: lightskyblue;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}

.grid__item:nth-child(2) {
    grid-column: 1 / 1;
    grid-column: 2 / 2;
    background-color: yellow;
}

.grid__item:nth-child(3) {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    background-color: green;
}

@media (max-width:500px) {
    .grid__item:nth-child(1) {
        background-color: lightskyblue;
        grid-column: 2 / 4;
        grid-row: 1 / 5;
    }

    .grid__item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background-color: yellow;
    }

    .grid__item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        background-color: green;
    }
}


.area {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "foter foter";
    height: 300px;

}

.header {
    background-color: #ccc;
    grid-area: header;
}

.main {
    background-color: #092b53;
    grid-area: main;
    align-self: stretch;
}

.sidebar {
    background-color: lightgreen;
    grid-area: sidebar;
    align-self: stretch;
}

.foter {
    background-color: #ccc;
    grid-area: foter;
}



/* footer */

.footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #ccc;
}

.footer__title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    font-size: 36px;
    color: white;
    min-width: 100px;
    margin: 0 auto;
}

.footer__title:hover {
    text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #FFBC57,
        0 0 82px #FFBC57,
        0 0 92px #FFBC57,
        0 0 102px #FFBC57,
        0 0 151px #FFBC57;
}



/* практика з грідампи */

.practice {
    font-family: "Proxima Nova", sans-serif;
    color: #535353;
}

.practice__popular {}

.popular {}

.popular__container {
    display: grid;
    grid-template-columns: repeat(3,minmax(290px,1fr));
    justify-content: start;
    gap: 24px;
}

.popular__item {
    background-color: #535353;
}

.popular__img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.popular__item--main {
    grid-row: span 2;
    grid-column: span 2;
}

@media (max-width:1200px) {
    .popular__container {
        color: red;
        background-color: #000;
        grid-template-columns: repeat(1, 1fr);
    }
}

.popular__img--main {
    object-position: 75% 10%;
}

/*css for hw */

.famos__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 1320px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    font-family: "Proxima Nova", sans-serif;
}

.famos__name {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.famos__title {
    font-size: 40px;
    font-weight: 400;
    color: #2b2929;
}

.famos__link {
    font-size: 19px;
    font-weight: 400;
    color: #FFBC57;
}

.famos__link::after {
    content: "";
    margin-left: 10px;
    width: 14px;
    height: 14px;
    background: url("../img/famos/vector/arrow-2.svg") center / 14px no-repeat;

}

.famos__link:hover {
    font-weight: 600;
    text-decoration: underline;
}

.famos__link:hover .famos__link::after {
    transform: rotate(45deg);
    background-color: #000;
}

.famos--margin {
    margin: 50px 0 50px 0;
}

.famos__container {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 24px;
}

.famos__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #e7e6e6;
    border-radius: 8px;
    min-height: 510px;
    row-gap: 20px;
}

.famos__item:hover {
    box-shadow: 2px 2px 2px 2px #ccc;
}

.famos__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.famos__properties {
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
}

.famos__main {
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

.famos__check {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
}

.famos__check img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.famos__bottom {
    display: flex;
    justify-content: space-between;
}

.famos__bakket {
    display: flex;
    column-gap: 10px;
}

.famos__price {
    display: flex;
    flex-direction: column;
}

.old-price {
    font-size: 13px;
    text-decoration: line-through;
    color: #E03D3D;
}

.price {
    font-weight: 600;
    color: #2b2929;
    font-size: 20px;
    line-height: 28px;
}

.famos__favorite {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 2px solid #FFBC57;
    border-radius: 50%;
    transition: all .3s ease-in;
}

.famos__picture {
    width: 24px;
    transition: all .3s ease-in-out;
}

.famos__favorite:hover {
    background-color: #FFBC57;
    border: 2px solid #B1B1B1;
}

.famos__cart {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #FFBC57;
    border-radius: 50%;

}

.famos__cart:hover {
    border: 2px solid #B1B1B1;
}

.famos__cart:hover .famos__picture {
    transform: scale(1.3);
}

@media (max-width: 1199px) {
    .famos__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 860px) {
    .famos__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .famos__name {
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
        align-items: center;
    }
}

@media (max-width: 570px) {
    .famos__container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .famos__title {
        font-size: 20px;
        font-weight: bold;
    }
}


/* new part hw */
.category {
    width: 100%;
}

.category__container {
    max-width: 1269px;
    font-family: 'Integral CF', sans-serif;
    border-radius: 40px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 70px 64px 76px 64px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.category__title {
    font-family: 'Integral CF', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

.category__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 280px;
    gap: 20px;
}

.category__item {
    justify-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.category__item:nth-child(4n + 2) {
    grid-column: span 2;
}

.category__item:nth-child(4n - 1) {
    grid-column: span 2;
}

.item {
    position: relative;
    border-radius: 20px;
    cursor: pointer;
}

.item__name {
    top: 25px;
    left: 36px;
    position: absolute;
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    z-index: 3;
}

.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: all .4s ease-in-out;
}

.item__img:hover {
    transform: scale(1.02);
}

@media (max-width: 649.98px) {
    .category__items {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
        column-gap: 0;
    }

    .category__title{
        text-align: center;
        font-size: 34px;
        line-height: 34px;
    }
}