/* Color Fonts */

$main-color-fonts: #000;
$color-for-btn: #fff;
$no-active-tab: #808080;

$category-fonts: #808080;
$old-price: #808080;
$sale-price: #ff6f61;

/* Color Hover */
$main-hover-color: #ff6f61;

/* Background Color */
$bgc-header:#f4f4f5;
$bgc-hot-sticker: #ff6f61;
$bgc-sale-sticker: #1e2832;
$bgc-button: #1e2832;
$bgc-footer: #1e2832;
$bgc-divider: #e3e3e3;
$bgc-border-banner: #b7b7b8;
