/* resets style */
@import url(reset.css);

/* connect fonts*/
@import url(fonts.css);


body {
    font-family: "Proxima Nova", sans-serif;
    color: #535353;
}

.page {
    background-color: #F8F8F8;
    flex: auto;
}


.sub-title {
    font-size: 36px;
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    overflow: clip;
}

.wrapper>main {
    flex-grow: 1;
}

/* --------- Simple style -------------*/

[class*="__container"] {
    max-width: 1320px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

/* header-top */

.header__top {}

.top-header {
    background-color: #F8F8F8;
    padding: 15px 0 15px 0;
}

.top-header__container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.top-header__menu {}

.menu-top-header {}

.menu-top-header__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 5px;
}

.menu-top-header__item {
    transition: all 0.5s;
}

.menu-top-header__link {}

.top-header__action {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.top-header__social {}

.social-top-header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.social-top-header__label {}

.social-top-header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.social-top-header__link {
    transition: all .3s ease-in;
}

.top-header__lang {
    background-color: transparent;
}


/* header*/
.header__body {}

.body-header {
    padding-top: 10px;
}

.body-header__container {
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 30px;
    row-gap: 10px;
    align-items: center;
    padding-top: 25px;
}

.menu-icon {
    display: none;
}

.body-header__logo {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    z-index: 2;
}

.body-header__img {}

.body-header__catalog {
    background-color: #FFBC57;
    padding: 11px 20px;
    border-radius: 8px;
    transition: all .5s ease-in;
    cursor: pointer;
    min-height: 50px;
    z-index: 2;
}

.body-header__catalog span {
    font-size: 19px;
    font-weight: 600;
    color: #ffff;
    display: flex;
    gap: 10px;
    text-align: center;
}

.body-header__catalog span::before {
    content: "";
    background: url("../img/main-page-header/vector/catalog.svg") 0 0 no-repeat;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
}

.body-header__search {
    z-index: 2;
}

.search-body-header {
    position: relative;
    border: 2px solid #F8F8F8;
    border-radius: 8px;
    flex-grow: 1;
}

.search-body-header__input {
    height: 50px;
    text-indent: 15px;
    width: 100%;
}

.search-body-header__input::-webkit-search-cancel-button {
    opacity: 0;
}

.search-body-header__input:focus::placeholder {
    opacity: 0;
    outline: none;
}

.search-body-header__input:focus {
    outline: 2px solid #FFBC57;
    border-radius: 8px;
}


.search-body-header__button {
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/main-page-header/vector/poisk.svg") center / 25px no-repeat;
    height: 50px;
    width: 50px;

}

#lang {
    font-size: 18px;
    font-weight: 600;
    color: #2b2929;
}

.body-header__contacts {}

.contacts-body-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts-body-header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F8F8F8;
    cursor: pointer;
    transition: all ease-in 0.1s;
    position: relative;
    z-index: 2;
}

.contacts-body-header__label {
    font-size: 13px;
    font-weight: 300;
}

.contacts-body-header__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: 2;
}

#phone {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #2b2929;
}

.body-header__action {
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 50px;
    z-index: 2;
}

.body-header__action-search{
    display: none;
    height: 50px;
    width: 50px;
    border: 2px solid #FFBC57;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
    background: url("../img/main-page-header/vector/poisk.svg") center / 25px no-repeat;
}

.body-header__action-link {
    display: flex;
    height: 50px;
    width: 50px;
    border: 2px solid #FFBC57;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
}

/* header-bottom */
.header__bottom {
    padding: 20px;
}

.bottom-header {
    border-top: 2px solid #F8F8F8;
}

.bottom-header__container {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    justify-content: space-between;
}

.botton-header__sections {}

.sections-menu {}

.sections-menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
}

.sections-menu__item {}

.sections-menu__link {
    font-weight: 600;
    padding-left: 29px;
    line-height: 24px;
}

.sections-menu__link--star {
    background: url("../img/main-page-header/vector/star.svg")left no-repeat;
}

.sections-menu__link--sale {
    background: url("../img/main-page-header/vector/circle-perc.svg")left no-repeat;
}

.sections-menu__link--creadit {
    background: url("../img/main-page-header/vector/past-circle.svg") left no-repeat;
}



.botton-header__use {}

.use-menu {}

.use-menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
    justify-content: space-between;

}

.header__burger{
    display: none;
}

.use-menu__link {
    font-weight: 600;
}

/* footer */

.footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #ccc;
}

.footer__title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    font-size: 36px;
    color: white;
    min-width: 100px;
    margin: 0 auto;
}

.footer__title:hover {
    text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #FFBC57,
        0 0 82px #FFBC57,
        0 0 92px #FFBC57,
        0 0 102px #FFBC57,
        0 0 151px #FFBC57;
}

@media (any-hover:hover) {
    .menu-top-header__link:hover {
        text-decoration: underline;
    }

    .social-top-header__link:hover {
        transform: scale(1.2);
    }

    .body-header__catalog:hover {
        background-color: #ca8d32;
    }

    .body-header__action-link:hover,  .body-header__action-search:hover{
        background-color: #FFBC57;
    }

    .contacts-body-header__icon:hover {
        transform: scale(1.07);
    }

    .sections-menu__item a:hover,
    .use-menu__link:hover, .menu-top-header__item:hover {
        color: #FFBC57;
        text-decoration: underline;
    }
}

@media (max-width:1200px) {
    .body-header__container {
        column-gap: 20px;
        justify-content: space-between;
    }

    .body-header__logo {
        width: 170px;
        overflow: hidden;
        flex-shrink: 0;
    }

    .sections-menu__list,
    .use-menu__list {
        column-gap: 10px;
    }

    .social-top-header__label {
        display: none;
    }
}

@media (max-width:992px) {

    .top-header__container {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .body-header__action-search{
        display: block;
    }


    .menu-icon {
        display: block;
        position: relative;
        height: 18px;
        width: 30px;
        background-color: transparent;
        z-index: 2;
        cursor: pointer;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #ccc;
        flex-shrink: 0;
    }

    .menu-icon__name {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        transform: translateY(-50%);
        background-color: #ccc;
    }

    .menu-icon::before {
        top: 0;
    }

    .menu-icon::after {
        bottom: 0;
    }




    .body-header__catalog{
        z-index: 2;
    }

    .body-header__action {
        z-index: 2;
    }



    .bottom-header {
        position: fixed;
        top: 0;
        left: 0;
        row-gap: 35px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1;
        padding: 144px 0 30px 0;
        overflow: auto;
    }
    .bottom-header__container {
        position: fixed;
        display: flex;
        column-gap: 10px;
        row-gap: 10px;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__burger{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        row-gap: 35px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1;
        transition: all .3s ease-in;
        padding: 144px 0 30px 0;
        overflow: auto;
    }

    .header__burger::after{
        content: "";
        position: fixed;
        top: 0;
        left: 0%;
        width: 100%;
        height: 134px;
        background-color: #fff;
        z-index: 2;
        transition: all ease-in-out .3s;
    }

    .active{
        display: block;
    }

    
    .active .menu-icon::before{
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
    }

    .active .menu-icon::after{
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
    }

    .active .menu-icon__name{
        transform: scale(0);
    }

    
    .burger-header__container{
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }


    .header__burger__container:not(:last-child){
        margin-bottom: 28px;
        padding-bottom: 10px;
    }

    .use-menu__list::after, .sections-menu__list::after, .menu-top-header__list::after{
        content: "";
        height: 2px;
        width: 100%;
        border-bottom: 2px solid #ccc;
        box-shadow: 3px 3px 3px #ccc;
    }

    .top-header__action{
        align-self: stretch;
        justify-content: space-between;
    }
    .menu-top-header{
        width: 100%;
    }

    .sections-menu__list,
    .use-menu__list,
    .menu-top-header__list {
        flex-direction: column;
        text-align: left;
        row-gap: 35px;
    }

    .sections-menu__link,
    .use-menu__link,
    .menu-top-header__list {
        font-size: 34px;
        font-weight: 600;
    }


    .body-header__action--search{
        display: flex;
        cursor: pointer;
    }

    .body-header__action{
        gap: 10px;
    }
    .header__top {
        display: none;
    }

    .contacts-body-header__wrapper {
        display: none !important;
    }

    .search-body-header{
        display: none;
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .open{
        display: block;
    }



    .body-header__catalog span::before {
        display: none;
    }

    .bottom-header{
        padding: 100px 0 30px 0;
    }

    .bottom-header__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        column-gap: 13px;
    }

}

@media (max-width:600px) {
    .body-header__logo{
        width: 100px;
    }
    .body-header__img{
        width: 150px;
    }
    .sections-menu__link,
    .use-menu__link,
    .menu-top-header__list {
        font-size: 30px;
        font-weight: 600;
    }
}