@charset "UTF-8";
/* import styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input[type=text] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

/* reset default */
/* Змінні */
/* Пишемо всі змінні в рут  (рахується як глобальна змінна)*/
:root {
  --colorMain: #0b45;
}

.calc {
  height: calc(50% - 10px);
  width: calc(100% - 20px);
  background: var(--colorMain);
  /* локальна змінна */
  --localVar: #444;
  border: 12px dotted var(--localVar);
}

[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  cursor: url(../img/semantic-web.svg);
}

.practice__name {
  font-size: 2rem;
  margin-bottom: 1.5em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 996px) {
  .practice__name {
    line-height: 1.2;
    font-size: 2.5rem;
    margin-bottom: 2em;
  }
}

/* Одиниці вьюпорту 
   VH - відносно ширини
   WH - відносно висоти
   VMAX - більший
   VMIN - меньший
*/
.practice__sun-box {
  height: 100vh;
  /* local var */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sun-box {
  /* Коли використовувати? 
   1 Всі медіа запити використовуєм (em)
   2 При привязці до розміру шрифту. Або при поточному або успадкованому.
  */
}

.sun-box__text {
  font-size: 2em;
  line-height: 1.2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero {
  font-size: 30px;
  height: 20vh;
  width: 50vmin;
  background-color: var(--colorMain);
  /* .hero__title */
}
.hero__title {
  text-align: center;
  color: #fff;
  font-size: 1em;
}

.clamp {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

/* Вимика взаємодію з обьєктом pointer-events */
.pointer-events a {
  /* pointer-events: none; */
  /* cursor: move; */
}

.inset {
  width: 1.25rem;
  height: 1.25rem;
  background-color: red;
  inset: 20px;
}

/* Color Fonts */
/* Color Hover */
/* Background Color */
/* my mixin for adaptive end flexible change*/
.search {
  top: -100%;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #f4f4f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  /* .search__form */
  /* .search__input */
}
.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.search__input {
  height: 1.5625rem;
  width: 35rem;
  outline-color: #1e2832;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 0.3125rem;
  padding: 1rem;
  color: #000;
}
.search__close {
  height: 1.5625rem;
  width: 1.5625rem;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  cursor: pointer;
  background: url("../img/hw/vector/close.svg") center/25px no-repeat;
}
.search ::-webkit-input-placeholder {
  color: #000;
  padding-left: 0.3125rem;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}
.search ::-moz-placeholder {
  color: #000;
  padding-left: 0.3125rem;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}
.search :-ms-input-placeholder {
  color: #000;
  padding-left: 0.3125rem;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}
.search ::-ms-input-placeholder {
  color: #000;
  padding-left: 0.3125rem;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}
.search ::placeholder {
  color: #000;
  padding-left: 0.3125rem;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}

/* Import foonts */
body {
  font-family: "Roboto", sans-serif;
}

[class*=__container] {
  max-width: 82.5rem;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  background-color: #f4f4f5;
  /* .header__container */
  /* .header__top */
  /* .header__bottom */
}
.header__top {
  margin: 1.875rem 0 1.5625rem 0;
}
.top {
  /* .top__container */
  /* .top__overlay */
  /* .top__action */
}
.top__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 21.6875rem;
     -moz-column-gap: 21.6875rem;
          column-gap: 21.6875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .search__btn */
.search-btn {
  background: url("../img/hw/vector/search-icon.svg") center/1.5625rem no-repeat;
  padding: 25px;
  cursor: pointer;
}

.show {
  display: block;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.logo {
  /* .logo__img */
}
.action {
  font-size: 1.125rem;
  font-weight: 400;
  /* .action__icon */
  /* .action__name */
}
.action__icon {
  width: 1.5625rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.action__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.action__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.divider {
  border-top: 3px solid #e3e3e3;
}

.divider--margin {
  margin-bottom: 1.875rem;
}

.bottom {
  /* .bottom__menu */
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.5625rem;
     -moz-column-gap: 3.5625rem;
          column-gap: 3.5625rem;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  /* .menu__item */
  /* .menu__link */
}
.baners {
  /* .baners__container */
  /* .baners__overlay */
}
.overlay {
  /* .overlay__content */
  /* .overlay__title */
  /* .overlay__descr */
  /* .overlay__link */
  /* .overlay__design */
}
.link {
  /* .link__icon */
  /* .link__name */
}
.design {
  /* .design__link */
}
.brands {
  /* .brands__container */
  /* .brands__lists */
  /* .brands__item */
  /* .brands__link */
}
.category {
  /* .category__container */
  /* .category__text */
  /* .category__list */
}
.list {
  /* .list__item */
  /* .list__link */
  /* .list__img */
}/*# sourceMappingURL=style.css.map */