.best-seller {
    /* .best-seller__title */

    &__title {
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 35px;
    }

    /* .best-seller__tabs */

    &__tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    /* .best-seller__lists */

    &__lists {
        display: flex;
        justify-content: space-between;
        min-width: 373px;
    }

    /* .best-seller__show */

    &__show {
        padding: 5px 15px;
        background-color: #1e2832;
        cursor: pointer;
        flex-shrink: 0;
        text-transform: capitalize;
        color: #fff;
        letter-spacing: 1px;
    }
}
.lists {
    /* .lists__item */

    &__item {
        cursor: pointer;
        color: var(--Dark-50, rgba(0, 0, 0, 0.5));
        text-transform: capitalize;
    }
}
/* .container--hidden{
    overflow: hidden;
} */
.goods {
    display: flex;
    width: 312px !important;
    flex-direction: column;
    gap: clamp(0.75rem, 0.6061rem + 0.6141vw, 1.125rem);
    position: relative;
    overflow: hidden;
    /* .goods__img */

    &__img {
    }

    /* .goods__text */

    &__text {
        text-align: center;
        font-weight: 600;
    }

    /* .goods__name */

    &__name {
    }

    /* .goods__action */

    &__action {
        display: flex;
        justify-content: space-between;
    }

    /* .goods__filter */

    &__filter {
    }

    /* .goods__price */

    &__price {
    }

    /* .goods__label */

    &__label {
    }
}
.price {
    text-decoration: line-through;
    color: $old-price;
}
.old {
    /* .old_price */

    &_price {
        color: $sale-price;
    }
}
.label {
    /* .label__items */

    &__items {
        top: 22px;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    /* .label__item */

    &__item {
        padding: 5px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    /* .label__item--hot */

    &__item--hot {
        background-color: #ff6f61;
    }

    /* .label__item--special */

    &__item--special {
        background-color: blueviolet;
    }

    /* .label__item--sale */

    &__item--sale {
        background-color: #1e2832;
    }
}

.best-seller--margin {
    margin-bottom: 140px;
}

/* slider */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
}

[class*="--mod"] {
    color: #ccc !important;
}

@media (max-width: 500px) {
    .goods__text,
    .goods__action {
        text-align: center;
        width: 80%;
    }
    .best-seller__tabs {
        display: none;
    }
    .best-seller--margin {
        margin-bottom: 20px;
    }
}

@media (any-hover) {
}
