.call-back {
    min-height: 538px;
    background-color: $callbackBackGround;
    /* .call-back__container */
    &--padding {
        padding: 10px 10px;
    }
    &--margin {
        margin-bottom: 108px;
    }
    &__container {
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    /* .call-back__title */

    &__title {
        text-align: center;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 87px;
    }

    /* .call-back__instagram */

    &__instagram {
        margin-bottom: 75px;
    }

    /* .call-back__form */

    &__form {
        display: flex;
        justify-content: space-between;
        column-gap: 26px;
    }

    /* .call-back__emal */

    &__emal {
        width: 586px;
        background-color: $callbackBackGround;
        border-bottom: 2px solid #000;
        outline: none;
    }

    /* .call-back__btn */

    &__btn {
        padding: 10px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        border-bottom: 2px solid #000;
        cursor: pointer;
        color: $black;
    }
}
.instagram {
    width: 100%;
    /* .instagram__items */

    &__items {
        display: flex;
        gap: 24px;
        overflow-x: auto;
        margin: 0 auto;
    }

    /* .instagram__item */

    &__item {
        position: relative;
        width: 100%;
        border-bottom: 4px solid transparent;
        transition: all 0.3s ease-in-out;
    }
    /*     &__item img{
        object-fit: cover;
        width: 100%;
    } */
}

@media (any-hover) {
    .instagram__item:hover {
        filter: blur(2px);
    }
}

@media (max-width: 992px) {
    .call-back--margin {
        margin-bottom: 20px;
    }
    .call-back__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .call-back__instagram {
        margin-bottom: 5px;
    }
    .call-back {
        min-height: 420px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $sale-price;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e1306c;
}

/* placeholder */
input :placeholder {
    color: $black-50;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
