$headerBackGround: #f4f4f5;
$footerBackGroundColor: #1e2832;
$footerFontsColor: #fff;
$mainBlockFonts: #1e2832;
$buttonBackGroundColor: #1e2832;
$buttonFontsColor: #ffff;
$tabsfortColor: rgba(0, 0, 0, 0.5);
/* variables for fast swap colors)) */
$mainFonts: "Roboto", sans-serif;
$callbackBackGround:#f4f4f5;
$old-price: #888888;
$sale-price: #ff9389;