/* resets style */
@import url(reset.css);

/* connect fonts*/
@import url(fonts.css);

.header{
    min-height: 50px;
    background-color: orangered;
}

.header__title{
    font-size: 36px;
    font-style: italic;
    color: white;
    text-align: center;
}


.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}


input {
    border: 2px solid black;
    height: 50px;
    width: 50%;
    background-color: lightgrey;
    border-radius: 8px;
    cursor: pointer;
}

fieldset{
    font-weight: 700;
    border: 2px solid black;
    padding: 15px;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.radio {
    width: 20px;
    height: 20px;
}


input:focus {
    outline: 5px solid black;
}

input::placeholder {
    color: red;
}

label {
    width: 50%;
    font-weight: 700;

}


.form {
    padding: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
    border-radius: 8px;
}

.form-textaria{
    min-height: 100px;
    resize: vertical;
}

.form:hover {
    background: url();
}

.form>* {
    margin-bottom: 15px;
}

.form--margin {
    margin: 0 auto;
}

.form__title {
    font-size: 24px;
    color: darkgrey;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.form__input{
    width: 100%;
}

.form__wrapper{
    display: flex;
    margin: 0 auto;
    gap: 20px;
}

.form__button, .form__reset{
    background-color: orangered;
    padding: 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.footer {
    min-height: 50px;
    background-color: orangered;
}

.footer__title {
    font-size: 35px;
    color: white;
    text-align: center;
}


.form__line{
    display: flex;
    justify-content: space-between;
    align-items: start;
}



/* footer */


/* practice */

.checkbox-custom__choose{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
} 

.checkbox-custom__item{
    position: relative;
    cursor: pointer;
}

.checkbox-custom__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
} 

.checkbox-custom__text {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    gap: 15px;
}

.checkbox-custom__text::before{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid black;
}


.checkbox-custom__input:focus-visible + .checkbox-custom__text{
    outline: 2px solid black;
    outline-offset: 5px;
}


.checkbox-custom__input:checked + .checkbox-custom__text::before{
    background-color: orange;
}


.checkbox-custom--margin{
    margin: 50px 0 50px 0;
}